/* components/shared/Navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  background: #24292e;
  padding: 10px 20px;
  color: white;
}

.logo {
  font-weight: bold;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navLinks li {
  cursor: pointer;
}
