@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
@import url('https://fonts.cdnfonts.com/css/poppins');

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  --s: 200px;
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;
  background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    );
  background-size: var(--s) calc(var(--s) * 0.577);
  display: flex;
  font-family: 'Gilroy-Regular', sans-serif;
  color: #333;
}

.leftSide {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
}

.registerContainer {
  width: 100%;
  padding: 20px;
}

.registerBox {
  background: #fffffff1;
  padding: 30px 25px;
  border-radius: 22px;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.393);
}

.title {
  display: flex;
  align-items: center;
  font-size: 22px;
  color: #333;
  margin-bottom: 6px;
}

.icon {
  width: 14px;
  height: 14px;
  background: #010101;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 18px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  transition: border 0.3s;
}

input:focus {
  border-color: #000000;
}

.rgstrBTN {
  background: #000000;
  border: none;
  padding: 12px;
  border-radius: 8px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

.rgstrBTN:hover {
  background: #353535d7;
}
.disabled{
  background: rgb(86, 86, 86);
  cursor: not-allowed;
  border: none;
  padding: 12px;
  border-radius: 8px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  transition: background 0.3s;
}
.disabled:hover{
  background: rgb(58, 58, 58);
}
.signinText {
  text-align: center;
  margin-top: 14px;
  font-size: 15px;
  color: #555;
}

.signinText a {
  color: #3aa0ff;
  text-decoration: none;
  font-weight: 500;
}

.signinText a:hover {
  text-decoration: underline;


}

@media (max-width: 1024px) {
    .leftSide {
    width: 100%;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
 
}
@media (max-width: 480px) {
  .leftSide {
    width: 100%;
    border-radius: 0;
  }
}