.dashboard {
  padding:  20px 0px 0px 0px;
}
.stats {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.card {
  background: #e3f2fd;
  padding: 10px;
  border-radius: 6px;
  flex: 1;
  text-align: center;
}
