@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
@import url('https://fonts.cdnfonts.com/css/poppins');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gilroy-Regular', sans-serif;
  background: #fff;
  color: #333;
}

#root{
  padding: 0px 20px;
}