/* @import url('https://fonts.cdnfonts.com/css/gilroy-bold'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gilroy-Regular', sans-serif;
  background: #fff;
  color: #333;
}

#inroot{
  padding: 0px 20px;
}
#loghead{
  font-family: 'Gilroy-Bold';
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 10px;
}